#add_button{
    background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.popup, .container, #filter, #filter_field, #add, #add_field {
    width: 100%;
}



#chamberschedule th, #chamberschedule td, #darschedule th, #darschedule td, #cageschedule th, #cageschedule td{
    padding: 7px;
}

#chamberschedulecaption, #darschedulecaption, #cageschedulecaption, #chamberschedule, #chamberschedule td, #chamberschedule tr, #chamberschedule th, #darschedule, #darschedule tr, #darschedule td, #darschedule th, #cageschedule, #cageschedule tr, #cageschedule td, #cageschedule th{
    border-collapse: collapse;
    border: 1px solid;
}

#chamberschedule th, #darschedule th, #cageschedule th{
    text-align:center;


}

#chamberschedulecaption, #darschedulecaption, #cageschedulecaption{
    text-align:center;
    font-weight: bold;
}

#chamberschedule, #darschedule,#cageschedule {
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
    vertical-align: top;
}

#back, #back1, #back2{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.notation{
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 25px;
}

#yellow_box{
    background-color: yellow;
    display: inline-block;
    width: 20px;
    height: 10px;
}

#green_box{
    background-color: green;
    display: inline-block;
    width: 20px;
    height: 10px;
}