{# tutorial/templates/tutorial/people.html #}
<!doctype html>
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load django_tables2 %}
{% bootstrap_css %}
{% load static %}



<html>
    <head>
        <title>ChamberLog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="{% static 'database/ch.css' %}">
        <style>
            .menu{
                display: block;
                position: fixed;
                width: 100%;
                top: 0;
            }
            .dropdown{
                display: inline-block;
                width: 20%;
                vertical-align: top;
            }
            .dropdown-label{
                background-color: gray;
                color: white;
                padding: 5px;
                font-family: sans-serif;
                text-align: center;
            }
            .dropdown-content a{
                display: block;
                color: black;
                padding: 5px;
                text-decoration: none;
                font-family: sans-serif;
                background-color: white;
            }
            .dropdown-content{
                display: none;
            }
            .dropdown-content a:hover{
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {display: block;}
            .menu-space{height: 35px;}
        </style>
    </head>
    <body>
        {%if user.is_authenticated%}
        <div class = "menu-space"></div>
        <div class = "menu">
            <div class="dropdown">
                <div class="dropdown-label">Daily Operations</div>
                <div class="dropdown-content">
                    <a href="{% url 'test' %}">Tests</a>
                    <a href="{% url 'dut' %}">DUTs</a>
                    <a href="{% url 'Harness' %}">Harnesses</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Program Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'product' %}">Products</a>
                    <a href="{% url 'program' %}">Programs</a>
                    <a href="{% url 'TestMap' %}">Test Maps</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Equipment Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'Chamber' %}">Chambers</a>
                    <a href="{% url 'Dar' %}">DARs</a>
                    <a href="{% url 'cage' %}">Cages</a>
                    <a href="{% url 'Laptop' %}">Laptops</a>
                    <a href="{% url 'Fluid' %}">Test Fluids</a>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-label">Other</div>
                <div class="dropdown-content">
                    <a href="{% url 'Lab' %}">Labs</a>
                    <a href="{% url 'Technician' %}">Technicians</a>
                    <a href="{% url 'TestType' %}">Add new test type</a>
                    <a href="{% url 'hours calculations' %}">Program Hours Calculator</a>
                </div>
            </div>
            <div class = "account">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                </div>
            </div>
        </div>    
            
        <h3> {% for record in ChamberLogInfo %}
            <label> Test:</label>
            {{record.test_id}}
            <br>
            <label> Chamber:</label>
            {{record.chamber_id}}
            <br>
            <label> Program:</label>
            {{record.program_id}}
            <br>
            <label> Pretest Inspection And Photo:</label>
            {{record.pretest_inspection_and_photo}}
            <br>
            <label> Setup Photo:</label>
            {{record.setup_photo}} 
            <br>
            <label> Humidity:</label>
            {{record.humidity}}
            <br>
            <label> System Pressure:</label>
            {{record.system_pressure}}
        </h3>
        <h4>
            
            
            <label> Voltage:</label>
            {{record.voltage}}
            <br>
            <label> System Restriction Target:</label>
            {{record.system_restriction_target}}
            <br> 
            <label> System Restriction Record:</label>
            {{record.system_restriction_record}}
            <br>
            <label> Trial Run Record And Process:</label>
            {{record.trial_run_record_and_process}} 
            <br>
            <label> Special Requirements:</label>
            {{record.special_requirements}}
            <br>
            <label> Technician:</label>
            {{record.technician_id}}
            <br>
            <label> Comments:</label>
            {{record.comments}}
            <br>

            
        </h4>
        
        <a href="{% url 'update_ChamberLogInfo' record.pk  %}">EDIT INFO</a>

        {% if filter %}
            <form action="" method="get" class="form-inline">
                {% bootstrap_form filter.form layout='inline'%}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}
        {%endfor%}


       
        
        {% load crispy_forms_tags %}

        <button id="add_button" type="submit" class="btn" onclick="openPopup()"> Add new Log </button>
            <div class="container">
                <br>
            <div class="popup" id="popup">
                <br>
            <form class="form" action="" method="post">
              {% csrf_token %}
                  {{form}}
                  <button type="submit">Submit</button>
            </form>
            <br>
            </div>
        </div>



            


        
            <!--Django Model Form-->

            {% render_table table  "django_tables2/bootstrap.html"%} 
        <ol>
            {% for status in page_obj %}
                <li>{{ status }}</li>
            {% endfor %}
        </ol>
        
        

       
        
    </body>
    {%else%}
            <div class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Login</a>
            </div>
        {%endif%}
    <script>
        let x  = window.location.href.replace("http://10.22.137.40:8000/database/ChamberLog/", '')
        let y  = Number(x)
        let drop = document.getElementsByName("log_id")[1]
        let values = drop.getElementsByTagName("option")
        console.log(x)
        for (let j = 0; j<values.length;j++){
            if (y == values[j].value){
                values[j].selected = true
            }
        }

        let popup = document.getElementById("popup");
            popup.hidden = true;    
            function openPopup(){
                if (popup.hidden){
                    popup.hidden = false;
                }
                else{
                    popup.hidden = true;
                }
            }
        function clicked(e)
                {
                    if(!confirm('Are you sure?')) {
                        e.preventDefault();
                    }
                    popup.classList.remove("open-popup");
                }
    </script>
</html>