{# tutorial/templates/tutorial/people.html #}
<!doctype html>
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load static %}
<html>
    <head>
        <title>Edit</title>
        <link rel="stylesheet"  href="{% static 'database/test.css' %}">
        <style>
            .menu{
                display: block;
                position: fixed;
                width: 100%;
                top: 0;
            }
            .dropdown{
                display: inline-block;
                width: 20%;
                vertical-align: top;
            }
            .dropdown-label{
                background-color: gray;
                color: white;
                padding: 5px;
                font-family: sans-serif;
                text-align: center;
            }
            .dropdown-content a{
                display: block;
                color: black;
                padding: 5px;
                text-decoration: none;
                font-family: sans-serif;
                background-color: white;
            }
            .dropdown-content{
                display: none;
            }
            .dropdown-content a:hover{
                background-color: #ddd;
            }

            .dropdown:hover .dropdown-content {display: block;}
            .menu-space{height: 35px;}
            .account{
                display: inline-block;
                width: 10%;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        {%if user.is_authenticated%}
        <div class = "menu-space"></div>
        <div class = "menu">
            <div class="dropdown">
                <div class="dropdown-label">Daily Operations</div>
                <div class="dropdown-content">
                    <a href="{% url 'test' %}">Tests</a>
                    <a href="{% url 'dut' %}">DUTs</a>
                    <a href="{% url 'Harness' %}">Harnesses</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Program Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'product' %}">Products</a>
                    <a href="{% url 'program' %}">Programs</a>
                    <a href="{% url 'TestMap' %}">Test Maps</a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropdown-label">Equipment Information</div>
                <div class="dropdown-content">
                    <a href="{% url 'Chamber' %}">Chambers</a>
                    <a href="{% url 'Dar' %}">DARs</a>
                    <a href="{% url 'cage' %}">Cages</a>
                    <a href="{% url 'Laptop' %}">Laptops</a>
                    <a href="{% url 'Fluid' %}">Test Fluids</a>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-label">Other</div>
                <div class="dropdown-content">
                    <a href="{% url 'Lab' %}">Labs</a>
                    <a href="{% url 'Technician' %}">Technicians</a>
                    <a href="{% url 'TestType' %}">Add new test type</a>
                    <a href="{% url 'hours calculations' %}">Program Hours Calculator</a>
                </div>
            </div>
            <div class = "account">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                </div>
            </div>
        </div>   
       
        

        {% load crispy_forms_tags %}
        <h2 class="my-4">Update an existing Test</h2>
        {% if filter %}
            <form action="" method="get" class="form-inline">
                {% bootstrap_form filter.form layout='inline'%}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}
            
            <form action="" method="post">
              {% csrf_token %}
                  {{form}}
                  <button class="btn btn-primary my-4"  onclick="submitCheck(event)" type="submit">Submit</button>
            </form>
        <p>
        <a href="{% url 'test' %}">
            <button id ="back">Back to Tests page</button>
        </a>
        </p>
            <center>
                <input type="checkbox" id="checkcreated" onclick="hide('checkcreated', 0)">
                <label for="checkcreated"> Created</label>
    
                <input type="checkbox" id="checkProduct id" onclick="hide('checkProduct id', 1)">
                <label for="checkProduct id"> Product id</label>
    
                <input type="checkbox" id="checkProgram id" onclick="hide('checkProgram id', 2)">
                <label for="checkProgram id"> Program id</label>
    
                <input type="checkbox" id="checkLeg" onclick="hide('checkLeg', 3)">
                <label for="checkLeg"> Leg</label>
    
                <input type="checkbox" id="checkPriority" onclick="hide('checkPriority', 4)">
                <label for="checkPriority"> Priority</label>
    
                <input type="checkbox" id="checkScheduling" onclick="hide('checkScheduling', 5)">
                <label for="checkScheduling"> Scheduling</label>
    
                <input type="checkbox" id="checkStatus" onclick="hide('checkStatus', 6)">
                <label for="checkStatus"> Status</label>
    
                <input type="checkbox" id="checkTest" onclick="hide('checkTest', 7)">
                <label for="checkTest"> Test</label>
    
                <input type="checkbox" id="checkTechnician" onclick="hide('checkTechnician', 8)">
                <label for="checkTechnician"> Technician</label>
    
                <input type="checkbox" id="checkChamber" onclick="hide('checkChamber', 9)">
                <label for="checkChamber"> Chamber</label>
    
                <input type="checkbox" id="checkDAR" onclick="hide('checkDAR', 10)">
                <label for="checkDAR"> DAR</label>
    
                <input type="checkbox" id="checkCage" onclick="hide('checkCage', 11)">
                <label for="checkCage"> Cage</label>
    
                <input type="checkbox" id="checkLab" onclick="hide('checkLab', 12)">
                <label for="checkLab"> Lab</label>
    
                <input type="checkbox" id="checkTargeted start" onclick="hide('checkTargeted start', 13)">
                <label for="checkTargeted start"> Targeted Start</label>
    
                <input type="checkbox" id="checkTargeted end" onclick="hide('checkTargeted end', 14)">
                <label for="checkTargeted end"> Targeted end</label>
    
                <input type="checkbox" id="checkSupervisor comments" onclick="hide('checkSupervisor comments', 15)">
                <label for="checkSupervisor comments"> Supervisor comments</label>
    
                <input type="checkbox" id="checkHours planned" onclick="hide('checkHours planned', 16)">
                <label for="checkHours planned"> Hours planned</label>
    
                <input type="checkbox" id="checkHours actual" onclick="hide('checkHours actual', 17)">
                <label for="checkHours actual"> Hours actual</label>

                <input type="checkbox" id="checkSetup date" onclick="hide('checkSetup date', 18)">
                <label for="checkSetup date"> Setup date</label>
                
                <input type="checkbox" id="checkStatus log" onclick="hide('checkStatus log', 19)">
                <label for="checkStatus log"> Status log</label>
                
                <input type="checkbox" id="checkdelete" onclick="hide('checkdelete', 20)">
                <label for="checkLab"> Delete</label>
                <input type="checkbox" id="checkupdate" onclick="hide('checkupdate', 21)">
                <label for="checkProgram id"> Update</label>
                <input type="checkbox" id="checkclone" onclick="hide('checkclone', 22)">
                <label for="checkProduct id"> Clone</label> <br>
            </center>
            <div>
                <div class = "notation">
                    When entering fields to add or edit a test, some elements of the page may change color:
                </div>
                <div class = "notation">
                    <div id="green_box"></div>
                    Green highlighted equipment from the above drop-down lists are the compatible equipment for the test, or program.
                </div>
                <div class = "notation">
                    <div id="yellow_box"></div>
                    Yellow highlighted tests in the mini tables below show the tests that are using one or more of the selected equipment for the specified time period.
                </div>
            </div>
            <center>
                    <table id ="chamberschedule">
                        <caption id = "chamberschedulecaption">Selected Chamber's Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>
                        
                    </table>
        
                    <table id ="darschedule">
                        <caption id = "darschedulecaption">Selected DAR's Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>
                        
                    </table>
        
                    <table id ="cageschedule">
                        <caption id = "cageschedulecaption">Selected Cage's Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>
                        
                    </table>
                    
            </center>

            {% render_table table  "django_tables2/bootstrap.html"%} 
            {%else%}
            <div class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Login</a>
            </div>
        {%endif%}
            <script>
                //column selector
                table3 = document.getElementsByTagName("table").item(3);
                rows3 = table3.rows;
    
                function hide(e, l){
                    let dec = document.getElementById(e);
                    if (dec.checked){
                        for (let i = 0; i < rows3.length ; i++){
                            if (i == 0){
                                x = rows3[i].getElementsByTagName("th")[l];
                                x.hidden = true;
                                continue;
                            }
                            x = rows3[i].getElementsByTagName("td")[l];
                            x.hidden = true;
                        }
                    }else{
                        for (let i = 0; i < rows3.length ; i++){
                            if (i == 0){
                                x = rows3[i].getElementsByTagName("th")[l];
                                x.hidden = false;
                                continue;
                            }
                            x = rows3[i].getElementsByTagName("td")[l];
                            x.hidden = false;
                        }
                    }
                }
                //end of column selector
    
                //adding confirmation for deleting
                var table, rows
                table = document.getElementsByTagName("table").item(3);
                rows = table.rows;
                
                for (let i = 1; i < rows.length ; i++){
                    x = rows[i].getElementsByTagName("td")[20];
                    y = x.getElementsByClassName("btn")[0];
                    w = rows[i].getElementsByTagName("td")[22];
                    z = w.getElementsByClassName("btn")[0];
    
                    y.onclick = function clicked(e)
                    {
                        if(!confirm('Are you sure?')) {
                            e.preventDefault();
                        }
                    };

                    z.onclick = function clicked(e){
                    if(!confirm('Are you sure?')) {
                        e.preventDefault();
                    }
                    };
                }
                //end of delete confirmation
    
                //color coding table rows
                var table, rows, cells, length;
                rows = document.getElementsByTagName("table")[3].rows;
                length = rows.length;
    
                function highlight_status(cells){
                    if (cells[6].innerHTML=="stopped"){
                        cells[6].style.backgroundColor = "red";
                    }
                    else if(cells[6].innerHTML =="setup"){
                        cells[6].style.backgroundColor = "yellow";
                    }
                    else if(cells[6].innerHTML =="running"){
                        cells[6].style.backgroundColor = "green";
                    }
                    else if(cells[6].innerHTML =="data review"){
                        cells[6].style.backgroundColor = "green";
                    }
                    else if(cells[6].innerHTML =="on hold"){
                        cells[6].style.backgroundColor = "red";
                    }
                    else if(cells[6].innerHTML =="no man power"){
                        cells[6].style.backgroundColor = "purple";
                    }
                    else if(cells[6].innerHTML =="on track"){
                        cells[6].style.backgroundColor = "green";
                    }
                }
    
                for (var i = 1; i<length; i++){
                    cells = rows[i].cells;
                    if (cells[5].innerText=="complete"||cells[5].innerText=="cancelled"){
                        for (var y=4; y<cells.length; y++){
                            cells[y].style.backgroundColor = "rgb(211, 211, 211)";
                        }
                    }
                    else{
                        if (cells[4].innerText=="1"){
                            for (var y=4; y<cells.length; y++){
                                cells[y].style.backgroundColor = "rgb(255, 165, 0)";
                            }
                        }
                        else if(cells[4].innerText=="2"){
                            for (var y=4; y<cells.length; y++){
                                cells[y].style.backgroundColor = "rgb(255, 255, 0)";
                            }
                        }
                        else if(cells[4].innerText=="3"){
                            for (var y=4; y<cells.length; y++){
                                cells[y].style.backgroundColor = "rgb(255, 240, 230)";
                            }
                        }
                        highlight_status(cells);
                    }
                }
                //end of table color coding
    
                //checking booking time conflicts
                var conflict;
                function checkSchedule() {
                    var start, end, booked_start, booked_end, length, rows;
                    
                    start = new Date(document.getElementsByName("targeted_start")[1].value);
                    end = new Date(document.getElementsByName("targeted_end")[1].value);
    
                    if(isNaN(start)||isNaN(end)){
                        return;
                    }
    
                    conflict = false;
                    length = document.getElementById("chamberschedule").rows.length - 1;
    
    
                    rows = document.getElementById("chamberschedule").rows;
                    for(var i =1; i<= length;i++){
                        try{
                            booked_start = new Date(rows[i].cells[5].innerHTML);
                            booked_end = new Date(rows[i].cells[6].innerHTML);
                            if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                                conflict = true;
                                rows[i].style.backgroundColor = "yellow";
                            }
                            else{
                                rows[i].style.backgroundColor = "white";
                            }
                        }
                        catch{
                            break;
                        }
                    }
    
                    length = document.getElementById("darschedule").rows.length - 1;
    
                    rows = document.getElementById("darschedule").rows;
                    for(var i =1; i<= length;i++){
                        try{
                            booked_start = Date.parse(rows[i].cells[5].innerHTML);
                            booked_end = Date.parse(rows[i].cells[6].innerHTML);
                            if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                                conflict = true;
                                rows[i].style.backgroundColor = "yellow";
                            }
                            else{
                                rows[i].style.backgroundColor = "white";
                            }
                        }
                        catch{
                            break;
                        }
                    }
    
                    length = document.getElementById("cageschedule").rows.length - 1;
    
                    rows = document.getElementById("cageschedule").rows;
                    for(var i =1; i<= length;i++){
                        try{
                            booked_start = Date.parse(rows[i].cells[5].innerHTML);
                            booked_end = Date.parse(rows[i].cells[6].innerHTML);
                            if((start >= booked_start && start <= booked_end) || (end >= booked_start && end <= booked_end) || (start <= booked_start && end >= booked_end)){
                                conflict = true;
                                rows[i].style.backgroundColor = "yellow";
                            }
                            else{
                                rows[i].style.backgroundColor = "white";
                            }
                        }
                        catch{
                            break;
                        }
                    }
                }
                
                function submitCheck(e){
                    checkSchedule();
                    if (conflict == true){
                        alert("At least one of the equipment selected is booked for another test for the selected time window and is highlighted. You can still add this test if you wish. ")
                    }
                    if(!confirm('Do you want to add this test?')) {
                            e.preventDefault();
                    }
                }
                //end of checking for booking conflicts
    
                //formating filter and update fields
                var label, input, formated_label, formated_input, length, formated_fields, current_fields, th, td, button, children;
    
                length = 20;

            formated_fields = document.createElement("table");
            formated_fields.id = "filter";

            current_fields = document.getElementsByTagName("form")[0];
            current_fields.appendChild(formated_fields);
            formated_label = document.createElement("tr");
            formated_input = document.createElement("tr");
            
            for (var i =0; i<length; i++){
                th = document.createElement("th");
                td = document.createElement("td");
                label = document.getElementsByClassName("sr-only")[i].innerHTML;
                input = document.getElementsByClassName("form-control")[i].cloneNode(true);
                input.id = "filter_field";
                th.innerHTML=label;
                td.appendChild(input);
                formated_label.appendChild(th);
                formated_input.appendChild(td);
            }
            button = document.getElementsByTagName("button")[0]
            formated_fields.appendChild(formated_label);
            formated_fields.appendChild(formated_input);
            current_fields.appendChild(button);

            for (var i =0; i<length; i++){
                document.getElementsByClassName("form-group")[0].remove();
            }

                length = 19;
                formated_fields = document.createElement("table");
                formated_fields.id = "add";
                current_fields = document.getElementsByTagName("form")[1];
                children = current_fields.children;
                current_fields.appendChild(formated_fields);
                formated_label = document.createElement("tr");
                formated_input = document.createElement("tr");
                
                for (var i =0; i<length; i++){
                    th = document.createElement("th");
                    td = document.createElement("td");
                    label = children[2*i+1].innerHTML;
                    input = children[2*i+2].cloneNode(true);
                    input.id = "add_field"
                    th.innerHTML = label;
                    td.appendChild(input);
                    formated_label.appendChild(th);
                    formated_input.appendChild(td);
                }
                button = document.getElementsByTagName("button")[1]
                formated_fields.appendChild(formated_label);
                formated_fields.appendChild(formated_input);
                current_fields.appendChild(button);
    
                for (var i =0; i<length*2; i++){
                    children[1].remove();
                }
                //end of formating filter and update fields
    
                //checking equipment test bookings
                function getCookie(name) {
                    var cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                    return cookieValue;
                }
    
                function highlight(){
                    var csrftoken = getCookie('csrftoken');
                    var test_type_id = document.getElementsByName("test_type_id")[1].value;
                    fetch("http://127.0.0.1:8000/database/children", {method: "POST", body: test_type_id, headers:{"X-CSRFToken": csrftoken}})
                    .then((response)=>
                    fetch("http://127.0.0.1:8000/database/getchildren")
                    )
                    .then(result=> result.json())
                    .then(result=>{
                        var keys = Object.keys(result)
                        let prod = document.getElementsByName("chamber_id")[1]
                        let values = prod.getElementsByTagName("option")
                        let int = 0;
                        for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
                        for (let i = 0; i<keys.length;i++){
                            for (let j = 0; j<values.length;j++){
                                if (eval(`result.${keys[i]}.chamber_id`) === values[j].value){
                                    values[j].setAttribute("style","background-color: #90EE90");
                                    int++;
                                }
                            }
                        }
                        if (int === 0){
                            for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
                        }
                    }
                    )
                    .catch(()=>{
                        let prod = document.getElementsByName("chamber_id")[1]
                        let values = prod.getElementsByTagName("option")
                        for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
    
                    })
                }
                function highlight2(){
                    var csrftoken = getCookie('csrftoken');
                    var program_id = document.getElementsByName("program_id")[1].value;
                    fetch("http://127.0.0.1:8000/database/darchildren", {method: "POST", body: program_id, headers:{"X-CSRFToken": csrftoken}})
                    .then((response)=>
                    fetch("http://127.0.0.1:8000/database/getdarchildren")
                    )
                    .then(result=> result.json())
                    .then(result=>{
                        var keys = Object.keys(result)
                        let prod = document.getElementsByName("dar_id")[1]
                        let values = prod.getElementsByTagName("option")
                        let prod2 = document.getElementsByName("cage_id")[1]
                        let values2 = prod2.getElementsByTagName("option")
                        let int = 0;
                        let int2 = 0;
                        for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
                        for (let j = 0; j<values2.length;j++){
                            values2[j].setAttribute("style","background-color: #ffffff");
                        }
                        for (let i = 0; i<keys.length;i++){
                            if (eval(`result.${keys[i]}.dar_id`) != null){
                                for (let j = 0; j<values.length;j++){
                                    if (eval(`result.${keys[i]}.dar_id`) === values[j].value){
                                        values[j].setAttribute("style","background-color: #90EE90");
                                        int++;
                                    }
                                }
                            }
                            if (eval(`result.${keys[i]}.cage_id`) != null){
                                for (let j = 0; j<values2.length;j++){
                                    if (eval(`result.${keys[i]}.cage_id`) === values2[j].value){
                                        values2[j].setAttribute("style","background-color: #90EE90");
                                        int2++;
                                    }
                                }
                            }
                        }
                        if (int === 0){
                            for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
                        }
                        if (int2 === 0){
                            for (let j = 0; j<values2.length;j++){
                            values2[j].setAttribute("style","background-color: #ffffff");
                        }
                        }
                    }
                    )
                    .catch(()=>{
                        let prod = document.getElementsByName("dar_id")[1]
                        let values = prod.getElementsByTagName("option")
                        let prod2 = document.getElementsByName("cage_id")[1]
                        let values2 = prod2.getElementsByTagName("option")
                        for (let j = 0; j<values.length;j++){
                            values[j].setAttribute("style","background-color: #ffffff");
                        }
                        for (let j = 0; j<values2.length;j++){
                            values2[j].setAttribute("style","background-color: #ffffff");
                        }
    
                    })
                }
    
                
    
                function getChamberSchedule(){
                    var chamber_id = document.getElementsByName("chamber_id")[1].value;
                    var csrftoken = getCookie('csrftoken');
                    
                    fetch("http://127.0.0.1:8000/database/chamberschedule", {method: "POST", body: chamber_id, headers:{"X-CSRFToken": csrftoken}})
                    .then((response)=>
                    fetch("http://127.0.0.1:8000/database/getchamberschedule")
                    )
                    .then(result=> result.json())
                    .then(result=>{
                        var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                        var keys = Object.keys(result);
                        const schedule = document.getElementById("chamberschedule");
                        schedule.innerHTML = `
                        <caption id = "chamberschedulecaption">${result.chamber}'s Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>`;
    
                        if (keys.length ==1){
                            row = document.createElement("tr");
                            row.innerHTML = "No test scheduled";
                            schedule.appendChild(row);
                        }
    
                        for (var i = 0; i<keys.length-1;i++){
                            row = document.createElement("tr");
                            row.id = `chamber booking ${i+1}`;
                            program = document.createElement("td");
                            product = document.createElement("td");
                            tr = document.createElement("td");
                            test = document.createElement("td");
                            scheduling = document.createElement("td");
                            targeted_start = document.createElement("td");
                            targeted_end = document.createElement("td");
        
                            program.innerHTML = eval(`result.${keys[i]}.program_id`);
                            product.innerHTML = eval(`result.${keys[i]}.product_id`);
                            tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                            test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                            scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);    
                            targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                            targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);
                            
    
                            row.appendChild(program);
                            row.appendChild(product);
                            row.appendChild(tr);
                            row.appendChild(test);
                            row.appendChild(scheduling);
                            row.appendChild(targeted_start);
                            row.appendChild(targeted_end);
    
                            schedule.appendChild(row);
                        }
                    })
                    .catch(()=>{
                    const schedule = document.getElementById("chamberschedule");
                    schedule.innerHTML = `
                    <caption id = "chamberschedulecaption">Selected Chamber's Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>
                    `;})
                }
    
                function getDARSchedule(){
                    var dar_id = document.getElementsByName("dar_id")[1].value;
                    var csrftoken = getCookie('csrftoken');
                    
                    fetch("http://127.0.0.1:8000/database/darschedule", {method: "POST", body: dar_id, headers:{"X-CSRFToken": csrftoken}})
                    .then((response)=>
                    fetch("http://127.0.0.1:8000/database/getdarschedule")
                    )
                    .then(result=> result.json())
                    .then(result=>{
                        var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                        var keys = Object.keys(result);
                        const schedule = document.getElementById("darschedule");
                        schedule.innerHTML = `
                        <caption id = "darschedulecaption">${result.DAR}'s Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>`;
    
                        if (keys.length ==1){
                            row = document.createElement("tr");
                            row.innerHTML = "No test scheduled";
                            schedule.appendChild(row);
                        }
    
                        for (var i = 0; i<keys.length-1;i++){
                            row = document.createElement("tr");
                            row.id = `DAR booking ${i+1}`;
                            program = document.createElement("td");
                            product = document.createElement("td");
                            tr = document.createElement("td");
                            test = document.createElement("td");
                            scheduling = document.createElement("td");
                            targeted_start = document.createElement("td");
                            targeted_end = document.createElement("td");
                            
                            program.innerHTML = eval(`result.${keys[i]}.program_id`);
                            product.innerHTML = eval(`result.${keys[i]}.product_id`);
                            tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                            test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                            scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);
                            targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                            targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);
    
                            row.appendChild(program);
                            row.appendChild(product);
                            row.appendChild(tr);
                            row.appendChild(test);
                            row.appendChild(scheduling);
                            row.appendChild(targeted_start);
                            row.appendChild(targeted_end);
                            schedule.appendChild(row);
                        }
                    })
                    .catch(()=>{
                    const schedule = document.getElementById("darschedule");
                    schedule.innerHTML = `
                    <caption id = "darschedulecaption">Selected DAR's Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>
                    `;})
                }
    
                function getCageSchedule(){
                    var cage_id = document.getElementsByName("cage_id")[1].value;
                    var csrftoken = getCookie('csrftoken');
                    
                    fetch("http://127.0.0.1:8000/database/cageschedule", {method: "POST", body: cage_id, headers:{"X-CSRFToken": csrftoken}})
                    .then((response)=>
                    fetch("http://127.0.0.1:8000/database/getcageschedule")
                    )
                    .then(result=> result.json())
                    .then(result=>{
                        var innerHTML, row, program, product, tr, test, targeted_start, targeted_end, status;
                        var keys = Object.keys(result);
                        const schedule = document.getElementById("cageschedule");
                        schedule.innerHTML = `
                        <caption id = "cageschedulecaption">${result.Cage}'s Test Schedule</caption>
                        <tr>
                            <th>Program</th>
                            <th>Product</th>
                            <th>TR</th>
                            <th>Test</th>
                            <th>Scheduling</th>
                            <th>Targeted start</th>
                            <th>Targeted end</th>
                        </tr>`;
    
                        if (keys.length ==1){
                            row = document.createElement("tr");
                            row.innerHTML = "No test scheduled";
                            schedule.appendChild(row);
                        }
    
                        for (var i = 0; i<keys.length-1;i++){
                            row = document.createElement("tr");
                            row.id = `cage booking ${i+1}`;
                            program = document.createElement("td");
                            product = document.createElement("td");
                            tr = document.createElement("td");
                            test = document.createElement("td");
                            scheduling = document.createElement("td");
                            targeted_start = document.createElement("td");
                            targeted_end = document.createElement("td");
                            
                            program.innerHTML = eval(`result.${keys[i]}.program_id`);
                            product.innerHTML = eval(`result.${keys[i]}.product_id`);
                            tr.innerHTML = eval(`result.${keys[i]}.test_map_id`);
                            test.innerHTML = eval(`result.${keys[i]}.test_type_id`);
                            scheduling.innerHTML = eval(`result.${keys[i]}.scheduling`);
                            targeted_start.innerHTML = eval(`result.${keys[i]}.targeted_start`);
                            targeted_end.innerHTML = eval(`result.${keys[i]}.targeted_end`);
    
                            row.appendChild(program);
                            row.appendChild(product);
                            row.appendChild(tr);
                            row.appendChild(test);
                            row.appendChild(scheduling);
                            row.appendChild(targeted_start);
                            row.appendChild(targeted_end);
                            schedule.appendChild(row);
                        }
                    })
                    .catch(()=>{
                    const schedule = document.getElementById("cageschedule");
                    schedule.innerHTML = `
                    <caption id = "cageschedulecaption">Selected Cage's Test Schedule</caption>
                    <tr>
                        <th>Program</th>
                        <th>Product</th>
                        <th>TR</th>
                        <th>Test</th>
                        <th>Scheduling</th>
                        <th>Targeted start</th>
                        <th>Targeted end</th>
                    </tr>
                    `;})
                }

                document.getElementsByClassName("btn btn-default")[0].style.margin = "7px 5px 5px 0px";
                document.getElementsByClassName("btn btn-default")[0].style.backgroundColor = "rgb(237, 237, 237)";
                document.getElementsByClassName("btn btn-default")[0].style.border = " thin solid";
                

                document.getElementsByName("chamber_id")[1].addEventListener("input", getChamberSchedule);
                document.getElementsByName("dar_id")[1].addEventListener("input", getDARSchedule);
                document.getElementsByName("cage_id")[1].addEventListener("input", getCageSchedule);
                document.getElementsByName("targeted_start")[1].addEventListener("input", checkSchedule);
                document.getElementsByName("targeted_end")[1].addEventListener("input", checkSchedule);
                document.getElementsByName("test_type_id")[1].addEventListener("input", highlight)
                document.getElementsByName("program_id")[1].addEventListener("input", highlight2)
                
                //end of checking equipment test bookings\
                getChamberSchedule();
                getDARSchedule();
                getCageSchedule();

            </script>
    </body>
</html>